[submodule "submodules/mdns"]
	path = submodules/mdns
	url = https://github.com/mjansson/mdns.git
[submodule "submodules/cereal"]
	path = submodules/cereal
	url = https://github.com/USCiLab/cereal.git
